<!-- Hyunjune Shin 301099013 2020-10-20 -->
    <!-- Script Section-->
    <script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Scripts/app.js"></script>
  </body>
</html>
