<!-- Hyunjune Shin 301099013-->
<!-- About Content -->
<!-- Picture of me-->
<img id = "selfie" class = "selfie" src="/Assets/images/selfie.jpg" alt="selfie">

<!-- personal info-->
<div id = "description">
    <h6>Hyunjune Shin</h6>
    <h6>Student</h6>
    <h6>226-750-6553</h6>
    <h6>john.shin53@gmail.com</h6>

    <!-- linking to my resume-->
    <a href="/Assets/resume.pdf">RESUME</a>
</div>

<!-- description about me-->
<div class = "description_p">
<p>Hello my legal name is Hyunjune Shin or you can call me John. I am currently enrolled in Centennial College for Software-Engineering.
 I am a dedicated, quick learner, focused who excels at prioritizing and completing multiple tasks. 
 Seeking a role to effectively utilize multiple tasks, interpersonal and organizational skills for efficiency. Thrives in fast paced and dynamic environment.
 Thank you for your time and feel free to read my resume.
 </p>
 
</div>