    <!-- Hyunjune Shin 301099013 2020-10-20 -->
    <!-- HOMEPAGE CONTENT-->
    <h5> Welcome to my homepage! This is my portfolio.</h5>
    <br>
    <h5><strong>Mission Statement</strong></h5>
    <p>My mission is to be always be positive, ambitious, hardworking and strive to learn more everyday. I am always eager to have more experiences in computer science field which is my oportunities for me to grow my knowledge and as a person.</p>
    <br>
    <p>Click any of these links to know more about me</p>

    <!-- hyperlinks-->
    <ul>
    <li><a href="/about">ABOUT ME</a></li>
    <li><a href="/project">PROJECTS</a></li>
    <li><a href="/services">SERVICES</a></li>
    <li><a href="/contact">CONTACT</a></li>
    </ul>
    </div>