<!-- Hyunjune Shin 301099013-->
<!-- PROJECT CONTENT-->

<!-- screen shot of first project-->
<img id = "project1" class = "p1" src="/Assets/images/p1.jpg" alt="p1">

<!-- description of first project -->
<div class = "description_p">
<p>This was my latest web design project from Centennial For COMP213 course. We had to choose a random real estate agent and make their porfolio with three listings, contact and site map with credits page.
 </p>
</div>

<!-- screen shot of second project-->
<img id = "project2" class = "p2" src="/Assets/images/p2.jpg" alt="p2">

<!-- description of second project-->
<div class = "description_p">
<p>
This was my second web design project from Centennial For COMP213 course. I had to create a website about protected areas issues. The requirements were homepage, about, news, press, contact, get involved, union portal and a blog.
 </p>
</div>

<!-- screen shot of third project-->
<img id = "project3" class = "p3" src="/Assets/images/p3.jpg" alt="p3">

<!-- description of third project-->
<div class = "description_p">
<p>
This was my fourth project for COMP213 course. We had to create any college or university evaluation form. We had to link our two projects together as well with easy clean UI for students to evaluate the course.
 </p>
</div>