<!-- HYUNJUNE SHIN 301099013-->
<!-- SERVICES CONTENT -->
<div id = "services_p" class = "description_p">
    <p>These are all the skills I have that I can contribute towards to the next future team</p>

    <!-- pic-->
    <img id = "interesting" class = "pic1" src="/Assets/images/interesting.jpg" alt="pic1">

    <!-- unsorted list of my skills-->
    <ul id = "">
    <li>MS/MY SQL/</li>
    <li>PHP /HTML / CSS</li>
    <li>JQuery/ Javascript</li>
    <li>Python</li>
    <li>Apache</li>
    <li>C#</li>
    </ul>
    
</div>
