<div class = "offset-md-1 col-md-9">
<form class="form" method = "POST">
    <div class="form-group">
        <label for="nameTextField">Name</label>
        <input type="text" class="form-control" id= "nameTextField" placeholder="name" name = "name"  value = "<%= ContactList.Name %>" required>
    </div>

    <div class="form-group">
        <label for="numberField">Contact Number</label>
        <input type="tel" class="form-control" id= "numberField" name = "phone" placeholder="123-456-7894" value = "<%= ContactList.Contact_Number %>" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
    </div>

    <div class="form-group">
        <label for="emailField">Email</label>
        <input type="email" class="form-control" id= "emailField" name = "email" value = "<%= ContactList.Email_Address %>"required>
    </div>
    <button class="btn btn-primary" type = "submit">
        <i class="fas fa-edit"></i> Submit
    </button>
    <a href="/contact-list" class="btn btn-warning">
        <i class="fas fa-undo"></i> Cancel</a>
</form>
</div>